include ../widgets/page/banner
if theme.brevity.enable
    #brevity_page
      .author-info
        .msg
          .avatar
              a.brevity-avatar(href=url_for('/about'))
                img(src=theme.aside.my_card.author.img)
          .brevity-name=config.author
        .desc=theme.aside.my_card.description
    #bber
        section.timeline.page-1
            ul.list.waterfall
                each item in site.data.brevity.slice(0, theme.brevity.strip)
                    li.item
                        if theme.brevity.style === 1
                            .meta
                                img.avatar(src=theme.aside.my_card.author.img)

                        #bber-content
                            .info
                                span.bber_nick= config.author
                            p.datacont!= item.content
                            if item.image
                                .bber-content-img
                                    each img in item.image
                                        if typeof img === 'string'
                                            img(src=img, alt=item.content || "图片暂无描述")
                                        else
                                            img(src=img.url, alt=(img.alt || item.content || "图片暂无描述"))

                        if item.aplayer
                            .bber-music
                                meting-js(server=item.aplayer.server type="song" id=item.aplayer.id mutex="true" preload="none" theme="var(--efu-main)" data-lrctype="0")

                        if item.video
                            if item.video.player
                                .bber-video
                                    video(src=item.video.player controls="controls" style="object-fit: cover;")
                            if item.video.bilibili
                                .bber-video
                                    iframe(src='//player.bilibili.com/player.html?autoplay=0&bvid=' + item.video.bilibili scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true")
                            if item.video.yt 
                                .bber-video
                                    iframe(src='//youtube.com/embed/' + item.video.yt scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true")
                            if item.video.tt
                                .bber-video
                                    iframe(src='https://www.tiktok.com/player/v1' + item.video.tt scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true")


                        if theme.brevity.style === 1
                            .bber-bottom
                                .bber-info
                                    .bber-info-time
                                        time.datetime(datetime=moment(item.date).format())
                                    if item.location
                                        .bber-info-location
                                            = item.location
                                    if item.link
                                        a.bber-content-link(href=url_for(item.link) target="_blank")
                                            i.solitude.fas.fa-link
                                            = _p('essay.link')
                                if theme.comment.use && item.content
                                    a.bber-reply(onclick=`sco.toTalk('${item.content}')`)
                                        i.solitude.fas.fa-comment
                            hr

            #bber-tips
                if theme.brevity.strip === -1
                    = _p('essay.tip0')
                else
                    = _p('essay.tip1').replace('#{count}', theme.brevity.strip)
